body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1rem;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

.plant-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
}

.plant-card {
  border: 1px solid #e5e5e5;
  padding: 1rem;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plant-card p {
  font-size: 4rem;
  text-align: center;
  margin: 0;
}

.plant-card h2 {
  font-size: 1.2rem;
  margin: 0;
}

.plant-card button {
  width: 100%;
  padding: 0.25rem;
}

.cart-section {
  padding-top: 2.4rem;
}

.cart-item {
  margin-bottom: 0.6rem;
  border: 1px solid #e5e5e5;
  padding: 1rem;
  min-height: 60px;
  display: flex;
  flex-direction: column;
}

.cart-item h3 {
  font-size: 1rem;
  margin: 0 0 0.3rem;
  font-weight: normal;
}

.cart-controls {
  display: grid;
  grid-template-columns: 1fr 2rem 1fr;
  gap: 0.75rem;
  align-items: center;
}

.cart-controls span {
  text-align: center;
}

.cart-controls button {
  padding: 0.25rem;
}
